body{margin:0px; padding:0px;}
.content{  
<<<<<<< HEAD
    position: relative;
    width:400px;
    height:200px;
    background-color: #CCC; 
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto; 
}


/*
*/
=======
    position:fixed;
    left:50%;
    top:50%;
    margin-left:-200px;
    margin-top:-100px;
    width:400px;
    height:200px;
    background-color: #CCC; 
/*
    margin-left:auto;
    margin-right:auto;
*/
    overflow: hidden;

}


>>>>>>> a9b13555d67fd5e962a17540833e6a4f683ef24c

.circle1{
    border-radius: 50px;
    position: absolute;
    top:-50px;
    left:-50px;
    background-color: #FC0;
    width:100px;
    height:100px;
}


.circle2{
    border-radius: 50px;
    background-color: #FC0;
    width:100px;
    height:100px;
    position: absolute;
    right:-50px;
    bottom:-50px;
}


